@import "~@porsche-design-system/utilities/scss";
.ks-cards {
  position: relative;

  p-grid-item + p-grid-item {
    margin-top: $p-spacing-32;
  }

  @include p-media-query("m") {
    p-grid-item + p-grid-item {
      margin-top: 0;
    }
  }

  &__item {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: $p-spacing-24;
    background-color: #fff;
    box-shadow: 0 p-px-to-rem(2px) p-px-to-rem(4px) 0 rgba(0, 0, 0, 0.05),
      0 p-px-to-rem(15px) p-px-to-rem(20px) 0 rgba(0, 0, 0, 0.2);
  }

  &__mood {
    display: block;
    width: calc(100% + #{$p-spacing-48});
    height: auto;
    margin: #{-$p-spacing-24} #{-$p-spacing-24} 0 #{-$p-spacing-24};
  }

  &__headline {
    margin-bottom: $p-spacing-16;
    margin-top: $p-spacing-24;
    color: $p-color-state-disabled;
  }

  &__desc-container {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
  }

  &__desc {
    margin-bottom: $p-spacing-32;
  }

  p-button,
  p-link {
    display: block;
    margin-top: auto;
    width: fit-content;
    width: -moz-fit-content;
  }
}

// Accessible overwrites
.ks-accessible {
  .ks-cards {
    &__item {
      position: relative;
      transform: translate3d(0, 0, 0); // add new context for fixed
    }

    &__mood {
      order: -1;
    }

    // the CSS pseudo-content trick
    p-link a::after {
      content: "";
      position: fixed; // workaround because of position relative in slot context
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
    }
  }
}
