@import "~@porsche-design-system/utilities/scss";

@mixin ks-sr-visible() {
  width: 100%;
  height: auto;
  white-space: normal;
  overflow: visible;
  clip: auto;
  clip-path: none;
}

@mixin ks-sr-hidden() {
  position: absolute;
  width: 1px;
  height: 1px;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

.ks-header {
  position: relative;

  &__marque {
    position: relative;
    display: block;
    padding: $p-spacing-32 $p-spacing-8;
    border: 1px solid $p-color-neutral-contrast-low;
    margin-bottom: -12px;
    z-index: 2;
    background-color: #fff;
  }

  &__nav-toggle {
    position: absolute;
    right: $p-spacing-16;
    bottom: $p-spacing-24;

    @include p-media-query("m") {
      display: none;
    }
  }

  &__nav {
    padding-bottom: $p-spacing-24;
    padding-left: $p-spacing-24;
    display: flex;
    flex-direction: column;

    @include ks-sr-hidden();

    &.is-active {
      @include ks-sr-visible();
      position: absolute;
      right: 0;
      top: 100px;
      z-index: 3;
      width: auto;
      padding: $p-spacing-16;
      background-color: $p-color-background-default;
      box-shadow: 0 p-px-to-rem(2px) p-px-to-rem(4px) 0 rgba(0, 0, 0, 0.05),
        0 p-px-to-rem(15px) p-px-to-rem(20px) 0 rgba(0, 0, 0, 0.2);
    }

    @include p-media-query("m") {
      @include ks-sr-visible();
      position: static !important;
      box-shadow: none !important;
      flex-direction: row;
    }

    a {
      display: block;
      margin: 0 $p-spacing-24;
      @include p-generate-font-definition(
        $p-font-size-small,
        $p-font-weight-regular
      );
      color: $p-color-default;
      text-decoration: none;
    }
  }
}

.ks-accessible {
  .ks-header {
    &__skip-link {
      position: absolute;
      top: -100%;
      &:focus,
      &:focus-visible {
        top: 0;
        z-index: 10;
      }
    }

    &__marque {
      &:focus {
        @include p-focus();
        color: #000;
      }
    }

    &__nav {
      padding-bottom: $p-spacing-16;

      a {
        padding: $p-spacing-8 $p-spacing-24;
        margin: 0;

        &:hover {
          color: $p-color-state-hover;
        }

        &[aria-current] {
          color: $p-color-state-active;
          position: relative;

          &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: $p-spacing-16;
            right: $p-spacing-16;
            height: 3px;
            background-color: $p-color-state-active;
          }
        }

        &:focus {
          @include p-focus();
        }
      }
    }
  }
}
